.card {
    margin: 0.5em;
    /* border-left:0.1em solid rgb(30,102,204); */
}

.exampleBorder {
    margin: 1em;
}

.downloads {
    margin-right: 1em;
}

.task-heading {
    font-size: 1.5em;
    margin: 0;
}

.task-data {
    margin: 1em;
}

.task-numbers {
    margin-left: 1em;
}

.flex-numbers {
    margin-right: 1em;
}

.version {
    margin-right: 1em;
}

.badge{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    /* width: 4em */
    padding-right: 0.5em;
    
}

.download{
    margin-bottom: 0.1em;
}

.text{
    margin-bottom: -0.3em;
    margin-right: 0.5em;
}

.cardActions{
    margin-bottom: 0.3em;
}

.card{
    height: 23em;
    width: 18.5em;
}

.vtask{
text-align: center;
background-color : #B8AD8B;
margin-left: 12em;
color : white;
padding-top: .1em;
}