.ok-icon {
    margin-right: 1em;
}

.rating-heading {
    font-size: 1.3em;
}

.description-heading {
    font-size: 1.3em;
}

.rating-icon {

    /* margin-left: 1.5em; */
    text-align: center;
    /* margin-bottom: 2em; */

}