  .task-data {
    margin: 1em;
  }

  .task-heading {
    font-size: 1.5em;
    margin: 0;
    text-align: justified;

  }


  .basic-data {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }

  .img {

    float: left;
    margin-left: 2em;
    margin-top: 2em;

  }

  .dwnld {
    float: right;
    margin-right: 2em;
  }

  .avatar {
    margin-top: 1em;
    margin-left: 1em;
  }


  .downloadIcon {
    margin-right: 1em;
    margin-bottom: 1.5em;
  }

  .downloadNumber {
    margin-left: 2.5em;
    margin-bottom: 1em;
  }

  .download {
    /* border-left: 0.2em solid rgb(30, 102, 204); */
    /* height: 7em; */
    margin-top: 2em;
    margin-bottom: 2em;
    /* padding-left: 2em; */
  }

  .heading {
    font-size: 2em;
  }

  .data {
    margin-left: 2em;
  }

  .button {
    width: auto;
  }

  .star {
    margin-left: 3em;
  }

  @media screen and (max-width: 750px){
    .avatar{
      margin:0 auto;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .data{
      margin-left: 2em;
      margin-top: 0em;
      margin-bottom: 0em;
    }
    .vl{
      transform: translate(14em) rotate(90deg) scale(1,3.7);
      width: 4em;
      margin-left: 1em;
      margin-right: 3em;
      height: 8em;
      margin-bottom: 0em;
      padding-left: 2em;
      
    }
    .download{
      margin-left: 1em;
    }
    .badge{
      padding-right: '0.5em';
      padding-top: '0.5em';
    }  
  } 