  .task-data {
    margin: 1em;
  }

  .task-heading {
    font-size: 1.5em;
    margin: 0;
    text-align: justified;

  }


  .basic-data {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
  }

  .img {

    float: left;
    margin-left: 2em;
    margin-top: 2em;

  }

  .dwnld {
    float: right;
    margin-right: 2em;
  }

  .avatar {
    margin-top: 1em;
    margin-left: 1em;
  }


  .downloadIcon {
    margin-right: 1em;
    margin-bottom: 1.5em;
  }

  .downloadNumber {
    margin-left: 2.5em;
    margin-bottom: 1em;
  }

  .download {
    border-left: 0.2em solid rgb(30, 102, 204);
    height: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 2em;
  }

  .heading {
    font-size: 2em;
  }

  .data {
    margin-left: 2em;
  }

  .button {
    width: auto;
  }

  .star {
    margin-left: 3em;
  }