.filter{
    /* border-bottom: 0.2em solid blue; */
    background-color: white;
}

.filter-icon{
    /* margin-top:"1em"; */
    margin-left: "0.4em";
    margin-right: 0.3em;
    border-bottom: 0.1em s black;
}

.search{
    margin-left: 5.5em;
    margin-top: 2em;
}